# Editor / IDE
.vscode/
.idea/

# Python / Django
venv/
__pycache__/
*.pytest_cache/
*.pyc
*.sqlite3
app/staticfiles/
app/config/settings/settings_local.py
app/config/settings/settings_test.py

# env
.env

# Mac OS
.DS_Store
